@import  "../../styles/variables";

.MainContainer {
  width: 70%;
	margin-left: 15%;background-image: linear-gradient(white, white, $green-color);
	position: relative;
	display: inline-block;
	min-height: 300px;
}

.App {
	min-width: 800px;
}
