.side-band {
	background-image: url('../../images/hatterfoltok.png');
	background-size: 13%;
	width: 10%;
	height: 100vh;
	background-repeat: repeat;
	position: fixed;
	display: inline;
}

.left {
	float: left;
}

.right {
	float: right;
}