.LoginPage {
  background-color: #b5dedc;
  background-image: url("../../images/LoginPage/kezdohatter.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  padding-top: 10vh;
}
