.App {
  width: 80%;
	margin-left: 10%;
	background-image: url('./images/felsodisz.png');
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 45vw;
	display: inline-block;
}