@import "../../styles/variables";

.panel-body {
  max-height: 500px;
  overflow-y: auto;

	.newMessage {
		background-color: $light-orange-color;
	}
}

.panel-chat {
	max-height: 425px;

	small {
		font-size: small;
		float: right;
		color: grey;
	}
	
	.messages{
		background-color: $light-green-color;
		float: left;
	}
	.ownMessages {
		float: right;
		background-color: $ligth-blue-color;
	}
	.newMessage {
		background-color: $light-orange-color;
	}
}

.panel-footer {
	max-height: 75px;
	button {
		height: 20%;
	}
}

.chat-button {
  width: 50px !important;
}
